ALCHEMY_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY_HERE
PRIVATE_KEY=your_wallet_private_key_no_0x_prefix
FLASHBOTS_AUTH_KEY=separate_key_for_flashbots_identity
CONTRACT_ADDRESS=paste_address_from_deploy_step_here